<div class="">
    <div class="mx-auto p-6 bg-white rounded-xl shadow space-y-6">
        <h2 class="text-xl font-semibold text-gray-800">
            {{ 'main.productDetails.title' | translate }}
        </h2>

        <!-- Text Inputs -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <app-text-input
                [label]="'main.productDetails.installationLocation'"
                [value]="
                    `${installerPropertyDataForm.installationLocation().value()}\\${installerPropertyDataForm.publisher().value()}\\${installerPropertyDataForm.productName().value()}`
                "
                [readonly]="true"
                placeholder="C:/Program Files"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.productName'"
                [formField]="installerPropertyDataForm.productName"
                placeholder="Your App"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.icon'"
                [formField]="installerPropertyDataForm.icon"
                placeholder="icon.ico"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.productVersion'"
                [formField]="installerPropertyDataForm.productVersion"
                placeholder="1.0.0"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.publisher'"
                [formField]="installerPropertyDataForm.publisher"
                placeholder="Your company"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.supportLink'"
                [formField]="installerPropertyDataForm.supportLink"
                placeholder="https://example.com"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.supportEmail'"
                [formField]="installerPropertyDataForm.supportEmail"
                placeholder="example@gmail.com"
            ></app-text-input>

            <app-text-input
                [label]="'main.productDetails.launchFile'"
                [formField]="installerPropertyDataForm.launchFile"
                placeholder="yourapp.exe"
            ></app-text-input>
        </div>

        <!-- Comment -->
        <app-text-area
            [label]="'main.productDetails.comment'"
            [formField]="installerPropertyDataForm.comment"
        ></app-text-area>

        <!-- Run as admin -->
        <app-check-box
            [formField]="installerPropertyDataForm.runAsAdmin"
            [label]="'main.productDetails.runAsAdmin'"
        ></app-check-box>

        <!-- Shortcut -->
        <div class="flex flex-col gap-4">
            <div class="border border-gray-200 rounded-lg p-4 space-y-3">
                <app-check-box
                    [formField]="installerPropertyDataForm.shortcutInDesktop.isCreated"
                    [label]="'main.productDetails.createShortcutDesktop'"
                ></app-check-box>

                @if (installerPropertyDataForm.shortcutInDesktop().value().isCreated) {
                    <div class="ml-6 space-y-3">
                        <app-check-box
                            [formField]="installerPropertyDataForm.shortcutInDesktop.runAsAdmin"
                            [label]="'main.productDetails.shortcutRunAsAdmin'"
                        ></app-check-box>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <app-text-input
                                id="listFiles"
                                [formField]="
                                    installerPropertyDataForm.shortcutInDesktop.shortcutName
                                "
                                [placeholder]="'main.productDetails.shortcutNamePlaceholder'"
                            ></app-text-input>

                            <datalist id="listFiles">
                                @for (n of resourceFiletore.getAll(); track $index) {
                                    <option [value]="n.name">{{ n.name }}</option>
                                }
                            </datalist>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Submit -->
        <div class="text-right">
            <app-button
                label="main.productDetails.save"
                icon="trash"
                variant="primary"
                (buttonClick)="onSaveInstallerConfig()"
            ></app-button>
        </div>
    </div>
</div>
