<div class="">
    <div class="mx-auto p-6 bg-white rounded-xl shadow space-y-6">
        <h2 class="text-xl font-semibold text-gray-800">Installer Properties</h2>

        <!-- Text Inputs -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Installation Location</label>
                <input
                    [field]="installerPropertyDataForm.installationLocation"
                    class="input"
                    placeholder="C:/ProgramFiles"
                />

                @if (
                    installerPropertyDataForm.installationLocation().touched() &&
                    installerPropertyDataForm.installationLocation().invalid()
                ) {
                    <div class="text-red-500">
                        @for (
                            error of installerPropertyDataForm.installationLocation().errors();
                            track error
                        ) {
                            <p>{{ error.message }}</p>
                        }
                    </div>
                }
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Product Name</label>
                <input
                    [field]="installerPropertyDataForm.productName"
                    class="input"
                    placeholder="Your App"
                />

                @if (
                    installerPropertyDataForm.productName().touched() &&
                    installerPropertyDataForm.productName().invalid()
                ) {
                    <div class="text-red-500">
                        @for (
                            error of installerPropertyDataForm.productName().errors();
                            track error
                        ) {
                            <p>{{ error.message }}</p>
                        }
                    </div>
                }
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Icon</label>
                <input
                    [field]="installerPropertyDataForm.icon"
                    class="input"
                    placeholder="icon.ico"
                />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Product Version</label>
                <input
                    [field]="installerPropertyDataForm.productVersion"
                    class="input"
                    placeholder="1.0.0"
                />

                @if (
                    installerPropertyDataForm.productVersion().touched() &&
                    installerPropertyDataForm.productVersion().invalid()
                ) {
                    <div class="text-red-500">
                        @for (
                            error of installerPropertyDataForm.productVersion().errors();
                            track error
                        ) {
                            <p>{{ error.message }}</p>
                        }
                    </div>
                }
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Publisher</label>
                <input
                    [field]="installerPropertyDataForm.publisher"
                    class="input"
                    placeholder="Your company"
                />

                @if (
                    installerPropertyDataForm.publisher().touched() &&
                    installerPropertyDataForm.publisher().invalid()
                ) {
                    <div class="text-red-500">
                        @for (
                            error of installerPropertyDataForm.publisher().errors();
                            track error
                        ) {
                            <p>{{ error.message }}</p>
                        }
                    </div>
                }
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Support Link</label>
                <input
                    [field]="installerPropertyDataForm.supportLink"
                    class="input"
                    placeholder="https://example.com"
                />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Support Email</label>
                <input
                    [field]="installerPropertyDataForm.supportEmail"
                    class="input"
                    placeholder="example@gmail.com"
                />
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Launch File</label>
                <input
                    [field]="installerPropertyDataForm.launchFile"
                    class="input"
                    placeholder="yourapp.exe"
                />

                @if (
                    installerPropertyDataForm.launchFile().touched() &&
                    installerPropertyDataForm.launchFile().invalid()
                ) {
                    <div class="text-red-500">
                        @for (
                            error of installerPropertyDataForm.launchFile().errors();
                            track error
                        ) {
                            <p>{{ error.message }}</p>
                        }
                    </div>
                }
            </div>
        </div>

        <!-- Comment -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Comment</label>
            <textarea [field]="installerPropertyDataForm.comment" rows="3" class="input"></textarea>
        </div>

        <!-- Checkboxes -->
        <div class="flex gap-6">
            <label class="flex items-center gap-2 text-sm text-gray-700">
                <input
                    type="checkbox"
                    [field]="installerPropertyDataForm.runAsAdmin"
                    class="checkbox"
                />
                Run as Administrator
            </label>
        </div>

        <!-- shortcut -->
        <div class="flex flex-col gap-4">
            <div class="border rounded-lg p-4 space-y-3">
                <!-- Create shortcut -->
                <label class="flex items-center gap-2 font-medium text-sm">
                    <input
                        type="checkbox"
                        [field]="installerPropertyDataForm.shortcutInDesktop.isCreated"
                        class="checkbox"
                    />
                    Create Shortcut in Desktop
                </label>

                <!-- Detail -->
                @if (installerPropertyDataForm.shortcutInDesktop().value().isCreated) {
                    <div class="ml-6 space-y-3">
                        <label class="flex items-center gap-2 text-sm text-gray-600">
                            <input
                                type="checkbox"
                                [field]="installerPropertyDataForm.shortcutInDesktop.runAsAdmin"
                                class="checkbox"
                            />
                            Run as Administrator
                        </label>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <input
                                type="text"
                                [field]="installerPropertyDataForm.shortcutInDesktop.shortcutName"
                                placeholder="Shortcut name"
                                class="input input-bordered w-full"
                            />

                            <input
                                list="listFiles"
                                type="text"
                                [field]="installerPropertyDataForm.shortcutInDesktop.runFile"
                                placeholder="Run file path"
                                class="input input-bordered w-full"
                            />

                            <datalist id="listFiles">
                                @for (n of resourceFiletore.getAll(); track $index) {
                                    <option [value]="n.name">{{ n.name }}</option>
                                }
                            </datalist>
                        </div>
                    </div>
                }
            </div>

            <div class="border rounded-lg p-4 space-y-3">
                <!-- Create shortcut -->
                <label class="flex items-center gap-2 font-medium text-sm">
                    <input
                        type="checkbox"
                        [field]="installerPropertyDataForm.shortcutInApplicationShortcut.isCreated"
                        class="checkbox"
                    />
                    Create Shortcut in Application Shortcut
                </label>

                <!-- Detail -->
                @if (installerPropertyDataForm.shortcutInApplicationShortcut().value().isCreated) {
                    <div class="ml-6 space-y-3">
                        <label class="flex items-center gap-2 text-sm text-gray-600">
                            <input
                                type="checkbox"
                                [field]="
                                    installerPropertyDataForm.shortcutInApplicationShortcut
                                        .runAsAdmin
                                "
                                class="checkbox"
                            />
                            Run as Administrator
                        </label>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                            <input
                                type="text"
                                [field]="
                                    installerPropertyDataForm.shortcutInApplicationShortcut
                                        .shortcutName
                                "
                                placeholder="Shortcut name"
                                class="input input-bordered w-full"
                            />

                            <input
                                list="listFiles"
                                type="text"
                                [field]="
                                    installerPropertyDataForm.shortcutInApplicationShortcut.runFile
                                "
                                placeholder="Run file path"
                                class="input input-bordered w-full"
                            />
                        </div>
                    </div>
                }
            </div>
        </div>

        <!-- Submit -->
        <div class="text-right">
            <button
                (click)="onSaveInstallerConfig()"
                class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"
            >
                Save
            </button>
        </div>
    </div>
</div>
