# https://github.com/tauri-apps/tauri-action/issues/525

name: 'publish'

on:
    push:
        branches:
            - main

    workflow_dispatch:

env:
    TAG_NAME: v1.0.0
    RELEASE_NAME: 'tun_installer_v1.0.0'
    EXE_TEMPLATE_FILE_NAME: 'exe_template_v1.0.0.exe'
    EXE_TUN_INSTALLER: 'tun_installer_v1.0.0.exe'

jobs:
    build:
        runs-on: windows-latest

        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4

            # - name: Setup GitHub CLI
            #   run: |
            #       choco install gh --version=2.83.2 -y
            #   shell: powershell

            - name: Check GitHub CLI
              run: gh --version

            - name: setup node
              uses: actions/setup-node@v4
              with:
                  node-version: lts/*
                  cache: 'npm'

            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable
              with:
                  targets: x86_64-pc-windows-msvc

            - name: Install Visual Studio Build Tools
              uses: microsoft/setup-msbuild@v1

            - name: Install Rust target
              run: rustup target add x86_64-pc-windows-msvc

            - name: Install Tauri CLI
              run: cargo install tauri-cli

            - name: Install Angular CLI
              run: npm install -g @angular/cli@21.0.0

            - name: Install dependencies
              run: npm install

            - name: Build libs
              run: ng build installer-core

            - name: Build exe template
              run: npm run tauri:build:template

            - name: Rename exe template file
              shell: cmd
              run: |
                  set "dir=target\x86_64-pc-windows-msvc\release"
                  ren "%dir%\installer_template.exe" "%EXE_TEMPLATE_FILE_NAME%"

            - name: Upload exe_template artifact
              uses: actions/upload-artifact@v4
              with:
                  name: exe-template
                  path: target\x86_64-pc-windows-msvc\release\${{ env.EXE_TEMPLATE_FILE_NAME }}

            - name: Build tun-installer
              run: npm run tauri:build:builder

            - name: Rename exe tun-installer file
              shell: cmd
              run: |
                  set "dir=target\x86_64-pc-windows-msvc\release"
                  ren "%dir%\installer_builder.exe" "%EXE_TUN_INSTALLER%"

            - name: Upload tun-installer artifact
              uses: actions/upload-artifact@v4
              with:
                  name: tun-installer
                  path: target\x86_64-pc-windows-msvc\release\${{ env.EXE_TUN_INSTALLER }}

    publish-release:
        runs-on: windows-latest
        permissions:
            contents: write

        needs:
            - build

        # if: startsWith(github.ref, 'refs/tags/') # only run if has git tag

        steps:
            - uses: actions/checkout@v4

            - name: Setup GitHub CLI
              shell: powershell
              run: |
                  choco install gh --version=2.83.2 -y

            - name: Remove old tag if exists
              shell: powershell
              run: |
                  $tag = $env:TAG_NAME
                  $tags = git ls-remote --tags origin | ForEach-Object { $_.Split("`t")[1] }
                  if ($tags -contains "refs/tags/$tag") {
                      Write-Host "Deleting old tag..."
                      git push origin :refs/tags/$tag
                  } else {
                      Write-Host "No old tag found."
                  }

            - name: Create Tag
              shell: powershell
              run: |
                  git config user.name "github-actions"
                  git config user.email "github-actions@github.com"
                  git tag $env:TAG_NAME
                  git push origin $env:TAG_NAME

            - name: Remove old release if exists
              shell: bash
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  if gh release view "$TAG_NAME" >/dev/null 2>&1; then
                    gh release delete "$TAG_NAME" -y
                    echo "Deleted release for tag $TAG_NAME"
                  else
                    echo "Release for tag $TAG_NAME does not exist"
                  fi

            - name: Download exe_template.exe
              uses: actions/download-artifact@v4
              with:
                  name: exe-template
                  path: artifacts

            - name: Download tun_installer.exe
              uses: actions/download-artifact@v4
              with:
                  name: tun-installer
                  path: artifacts

            - name: Publish
              uses: softprops/action-gh-release@v1
              with:
                  draft: false
                  name: '${{ env.RELEASE_NAME }}'
                  tag_name: '${{ env.TAG_NAME }}'
                  generate_release_notes: true
                  files: |
                      artifacts/*.exe
